/*
  UW-Madison Brand:
  Red: #C5050C
  White: #FFFFFF
  Font: Red Hat Text
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Text', sans-serif;
}

h1 {
    padding-left: 20px;
    margin:0;
    
}

p {
    font-size: 20px;
}

nav {
    display: flex;
    background-color:#C5050C !important;
    color: #FFFFFF !important;
    padding: 10px;
    gap: 20px;
}

.side-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.flex-to-side {
    display: flex;
    gap: 10px;
}

.uwmadison {
  background-color: #C5050C;
  color: #FFFFFF;
}

.uwmadison .nav-link {
    color: #FFFFFF !important;
    text-decoration: none;
    opacity: 1;
}

.uwmadison .nav-link:hover {
    color: #ffffff !important;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: underline;
}